.welcome-page {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-around;
    align-items: center;
}

.welcome-text {
    font-size: 4rem;
}

.logo {
    height: 500px;
}